.background {
    display: flex;
    background-image: url(bg1.jpg);
    background-size:cover;
    backdrop-filter: blur(3px);
    margin: 0%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-weight: 550;
    font-family: "Bebas Neue";
}

#quote-box {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color:rgba(0, 0, 0, 0.836);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 75px 25px #b8b8b880;
}

.tweet-button {
    padding: 15px 15px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    float: left;
    margin-left: 30px;
}

#new-quote{
    padding: 10px 20px ;
    background-color:#ffffff;
    border-radius: 20px;
    font-size: medium;
    border: none;
    font-weight: bolder;
    color: #000000;
    font-family:"kanit";

}

#author{
    text-decoration: underline;
    text-decoration-color: rgb(175, 20, 0);
    color: rgb(0, 148, 37);
    font-family: Dancing Script;
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}

#new-quote:hover{
    background-color: rgba(255, 255, 255, 0.192);
    color:white;
}

.buttons{
    display: flex;
    margin-top: 50px;
    width: 100%;
    gap: 20px;
}